// $Fonts
=font-face ($font-family, $font-weight, $file-name, $font-style: normal)
  font-family: $font-family
  font-style: $font-style
  font-weight: $font-weight
  src: url("../fonts/#{$file-name}.otf")


@font-face
  @include font-face($font-family: Montserrat, $font-weight: 400, $file-name: Montserrat-Regular)

@font-face
  @include font-face($font-family: Montserrat, $font-weight: 700, $file-name: Montserrat-Bold)

// Reset
*,
*:before,
*:after
  box-sizing: border-box
  margin: 0
  padding: 0


// Base
body
  padding: 0 10px
  background-color: #fdfaf6


// Typography
h1,
h2,
h3,
h4,
h5,
h6
  display: block
  margin-top: 20px
  margin-bottom: 20px


p
  display: block
  margin-top: 15px
  margin-bottom: 15px


h1,
h2,
h3,
h4,
h5,
h6,
p,
a
  font-family: 'Montserrat', sans-serif
  text-align: left


h1,
h2,
h3,
h4,
h5,
h6
  font-weight: 700


p,
a
  font-weight: 400


h1
  max-width: max-content
  font-size: 22px
  line-height: 36px
  color: #fdfaf6
  background-color: #f66c02
  text-transform: uppercase


h2
  font-size: 14px
  line-height: 16px
  color: #f66c02
  text-decoration: underline


h3
  font-size: 14px
  line-height: 16px
  color: #f66c02
  text-decoration: underline


h4,
h5,
h6
  font-size: 14px
  line-height: 16px
  color: #434343


p
  font-size: 14px
  line-height: 16px
  color: #000000


a
  color: #1585cf
  text-decoration: underline


a:hover
  text-decoration: none


// Lists
ol,
ul
  margin-top: 20px
  margin-bottom: 20px
  list-style-type: none
  counter-reset: item


ul ul,
ul ol,
ol ol,
ol ul
  margin-top: 10px
  margin-bottom: 0


li
  display: table
  font-family: 'Montserrat', sans-serif
  color: #000000
  text-align: left
  font-size: 14px
  line-height: 16px
  font-weight: 400


li:before
  display: table-cell
  padding-right: 10px


li:not(:last-child)
  margin-bottom: 10px


ol li:before
  content: counters(item, ".") "."
  counter-increment: item


ul li:before
  content: "•"
  font-size: 22px


ul ul li:before
  content: "◦"
  font-size: 18px


ul ul ul li:before
  content: "⁃"
  font-size: 20px


img
  display: block
  margin-top: 20px
  margin-bottom: 20px
  width: auto
  max-width: 100%


// Elements
.title
  font-size: 32px
  font-weight: 700
  color: #f66c02
  background-color: transparent
  text-transform: uppercase
  text-decoration: none


.toc-header
  display: block
  font-size: 22px
  font-weight: 700
  color: #f66c02
  background-color: transparent
  text-transform: none
  text-decoration: none


ol.toc
  counter-reset: item-l1


ol.toc ol
  counter-reset: item-l2


ol.toc ol ol
  counter-reset: item-l3


ol.toc li
  color: #434343


ol.toc li:before
  content: counter(item-l1, upper-alpha) "."
  counter-increment: item-l1


ol.toc ol li:before
  content: counter(item-l1, upper-alpha) "-" counter(item-l2, decimal) "."
  counter-increment: item-l2


ol.toc ol ol li:before
  content: counter(item-l1, upper-alpha) "-" counter(item-l2, decimal) "-" counter(item-l3, decimal) "."
  counter-increment: item-l3


