@import '../helpers/settings'
@import '../helpers/mixins'

////////////////////////////////////////
// $Count
////////////////////////////////////////

//////////////////////////////////////// Block variables


//////////////////////////////////////// Block mixins and functions


//////////////////////////////////////// Block styles
$block: ".boss-count"

#{$block}
  +box-model-normalizer()

  display: inline-block
  padding: 10px 15px
  background-color: #FFF
  border: 2px solid #c4c4c4
  border-radius: 6px

  // $Count MOD: role link
  &_role_link
    color: initial
    transition: all .4s

    &:hover
      color: initial
      opacity: 0.5

    &:focus
      color: initial
      outline: none

  // $Count MOD: adjust row layout
  &_adjust_row
    flex-grow: 1
    flex-shrink: 1
    width: 100%

  // $Count MOD: adjust flow layout
  &_adjust_flow
    margin-bottom: 15px

    @media screen and (max-width: 960px)
      width: 100%

  // $Count MOD: adjust tags layout
  &_adjust_tags
    margin-bottom: 15px

    &:not(:last-child)
      margin-right: 15px

  &_adjust_flow,
  &_adjust_row

    @media screen and (max-width: 960px)
      width: 100%

    &:not(:last-child)
      margin-right: 15px

      @media screen and (max-width: 960px)
        margin-right: 0
        margin-bottom: 15px

  &_adjust_action
    overflow: hidden
    position: relative
    padding-right: 60px

  // $Count MOD: size half
  &_size_half
    flex-grow: 0
    width: calc(50% - 8px)

    @media screen and (max-width: 960px)
      width: 100%

  // $Count MOD: type color
  &_type_color
    background-color: #808080
    border: none

  // $Count MOD: type solid colored
  &_type_solid
    background-color: #eaeaea
    border: none

  // $Count MOD: type badge
  &_type_badge
    border: none
    padding: 40px 20px
    box-shadow: 0 5px 30px -5px rgba(0,0,0,.3)

    @media screen and(max-width: 480px)
      padding: 30px 20px

  // $Count MOD: type badge adjust flow
  &_type_badge#{&}_adjust_flow
    margin-bottom: 40px

    @media screen and (max-width: 960px)
      margin-bottom: 30px

  &_type_badge#{&}_adjust_row,
  &_type_badge#{&}_adjust_flow
    &:not(:last-child)
      margin-right: 30px

      @media screen and (max-width: 960px)
        margin-right: 0
        margin-bottom: 30px

  &_type_badge#{&}_size_half
    flex-grow: 0
    width: calc(50% - 15px)

    @media screen and (max-width: 960px)
      width: 100%

  // $Count MOD: state alert
  &_state_alert
    background-color: #ff8587

  // $Count MOD: color accent red
  &_color_accent-red
    background-color: map-get($boss-accent-palette, red)

  // $Count MOD: color accent orange
  &_color_accent-orange
    background-color: map-get($boss-accent-palette, orange)

  &_color_accent-orchid-orange
    background-color: map-get($boss-accent-palette, orchid-orange)

  // $Count MOD: color accent yellow
  &_color_accent-yellow
    background-color: map-get($boss-accent-palette, yellow)

  // $Count MOD: color accent green
  &_color_accent-green
    background-color: map-get($boss-accent-palette, green)

  // $Count MOD: color accent turquoise
  &_color_accent-turquoise
    background-color: map-get($boss-accent-palette, turquoise)

  // $Count MOD: color accent navy blue
  &_color_accent-navy-blue
    background-color: map-get($boss-accent-palette, navy-blue)

  // $Count MOD: color accent light blue
  &_color_accent-blue
    background-color: map-get($boss-accent-palette, blue)

  // $Count MOD: color accent purple
  &_color_accent-purple
    background-color: map-get($boss-accent-palette, purple)

  // $Count MOD: color accent lilac
  &_color_accent-lilac
    background-color: map-get($boss-accent-palette, lilac)

  // $Count MOD: color accent pink
  &_color_accent-pink
    background-color: map-get($boss-accent-palette, pink)

  // $Count MOD: color accent gray
  &_color_accent-gray
    background-color: map-get($boss-accent-palette, gray)

  // $Count MOD: color accent dark
  &_color_accent-dark
    background-color: map-get($boss-accent-palette, dark)


  // $Count group
  &__group
    display: flex
    flex-direction: row
    justify-content: flex-start
    align-items: flex-start
    width: 100%

    // $Count group CONTEXT: $Count MOD: type badge
    #{$block}_type_badge &
      align-items: center


  // $Count icon
  &__icon
    flex-grow: 0
    flex-shrink: 0
    text-align: center

    // $Count icon CONTEXT: $Count MOD: type badge
    #{$block}_type_badge &
      width: 60px

    @media screen and(max-width: 480px)
      #{$block}_type_badge &
        width: 50px

    &:before
      content: ''
      display: inline-block
      font-family: icons
      font-weight: 400

      #{$block}_type_badge &
        font-size: 60px
        line-height: 60px
        color: #808080

      @media screen and(max-width: 480px)
        #{$block}_type_badge &
          font-size: 50px
          line-height: 50px

      #{$block}_state_alert &,
      #{$block}_color_accent-red &,
      #{$block}_color_accent-orange &,
      #{$block}_color_accent-orchid-orange &,
      #{$block}_color_accent-green &,
      #{$block}_color_accent-turquoise &,
      #{$block}_color_accent-navy-blue &,
      #{$block}_color_accent-blue &,
      #{$block}_color_accent-purple &,
      #{$block}_color_accent-lilac &,
      #{$block}_color_accent-pink &,
      #{$block}_color_accent-gray &
        color: #fff

    &_at
      &:before
        #{$block}_type_badge &
          content: '\e94a'

    &_umbrella
      &:before
        #{$block}_type_badge &
          content: '\e945'

    &_pin
      &:before
        #{$block}_type_badge &
          content: '\e958'

    &_camera
      &:before
        #{$block}_type_badge &
          content: '\e935'

    &_calculator
      &:before
        #{$block}_type_badge &
          content: '\e963'

    &_badge
      &:before
        #{$block}_type_badge &
          content: '\e949'
          font-size: 55px
          line-height: 55px

        @media screen and(max-width: 480px)
          #{$block}_type_badge &
            font-size: 45px
            line-height: 45px

    &_envelope
      &:before
        #{$block}_type_badge &
          content: '\e91f'

    &_gbp
      &:before
        #{$block}_type_badge &
          content: '\e910'

    &_alert
      &:before
        #{$block}_type_badge &
          content: '\e90b'

    &_clock
      &:before
        #{$block}_type_badge &
          content: '\e961'

    &_qrcode
      &:before
        #{$block}_type_badge &
          content: '\e947'

    &_scan
      &:before
        #{$block}_type_badge &
          content: '\e96c'


  // $Count info
  &__info
    flex-grow: 1
    flex-shrink: 1

    // $Count info CONTEXT: $Count MOD: type badge icon before
    #{$block}_type_badge#{$block}_adjust_icon-before &
      padding-left: 20px
      text-align: right

    @media screen and(max-width: 480px)
      #{$block}_type_badge#{$block}_adjust_icon-before &
        padding-left: 10px


  // $Count action
  &__action
    position: absolute
    top: 0
    right: 0
    bottom: 0
    display: flex
    flex-direction: row
    justify-content: center
    align-items: center
    width: 40px
    border-left: 2px solid #c4c4c4
    cursor: pointer
    transition: all .4s

    #{$block}_type_solid &,
    #{$block}_type_color &
      background-color: rgba(0,0,0,.3)
      border: none

    &:hover
      background-color: rgba(0,0,0,.6)

    &_role_remove
      &:before
        content: '\e96a'
        display: inline-block
        font-family: icons
        font-weight: 400
        font-size: 12px
        line-height: 12px
        color: #aaa

        #{$block}_type_solid &,
        #{$block}_type_color &
          color: #fff


  // $Count number
  &__number
    +text-normalizer()
    flex-grow: 0
    flex-shrink: 0
    display: inline-block
    height: 26px
    min-width: 26px
    margin-right: 15px
    padding: 5px
    font-size: 16px
    line-height: 1
    text-align: center
    color: #FFF
    border-radius: 13px / 50%
    background-color: #c1c1c1

    // $Count number CONTEXT: $Count MOD: type badge
    #{$block}_type_badge &
      height: auto
      min-width: 0
      padding: 0
      font-size: 50px
      text-align: left
      background-color: transparent
      border-radius: 0
      color: #808080

    // $Count number CONTEXT: $Count MOD: type badge icon before
    #{$block}_type_badge#{$block}_adjust_icon-before &
      font-size: 40px
      margin-right: 0
      text-align: right

    // $Count number CONTEXT: $Count MOD: state alert
    // $Count number CONTEXT: $Count MOD: color accent red
    // $Count number CONTEXT: $Count MOD: color accent orange
    // $Count number CONTEXT: $Count MOD: color accent green
    // $Count number CONTEXT: $Count MOD: color accent turquoise
    // $Count number CONTEXT: $Count MOD: color accent navy blue
    // $Count number CONTEXT: $Count MOD: color accent blue
    // $Count number CONTEXT: $Count MOD: color accent purple
    // $Count number CONTEXT: $Count MOD: color accent pink
    // $Count number CONTEXT: $Count MOD: color accent gray
    #{$block}_state_alert &,
    #{$block}_color_accent-red &,
    #{$block}_color_accent-orange &,
    #{$block}_color_accent-orchid-orange &,
    #{$block}_color_accent-green &,
    #{$block}_color_accent-turquoise &,
    #{$block}_color_accent-navy-blue &,
    #{$block}_color_accent-blue &,
    #{$block}_color_accent-purple &,
    #{$block}_color_accent-lilac &,
    #{$block}_color_accent-pink &,
    #{$block}_color_accent-gray &
      color: #FFF
      text-shadow: 0 0 6px rgba(0,0,0,.2)

    @media screen and(max-width: 960px)
      #{$block}_type_badge &
        font-size: 45px

      #{$block}_type_badge#{$block}_adjust_icon-before &
        font-size: 40px

    @media screen and(max-width: 480px)
      #{$block}_type_badge &
        font-size: 40px

      #{$block}_type_badge#{$block}_adjust_icon-before &
        font-size: 40px

    // $Count number MOD: position last
    &_position_last
      margin-right: 0
      margin-left: 15px


  // $Count label
  &__label
    +text-normalizer()
    flex-grow: 1
    flex-shrink: 1
    display: block
    width: 100%
    max-width: 100%
    padding-top: 2px
    font-weight: 600

    // $Count label CONTEXT: $Count MOD: type color
    #{$block}_type_color &
      color: #fff

    // $Count label CONTEXT: $Count MOD: type badge
    #{$block}_type_badge &
      padding-top: 0
      font-size: 20px
      color: #808080

    // $Count label CONTEXT: $Count MOD: type badge icon before
    #{$block}_type_badge#{$block}_adjust_icon-before &
      text-align: right

    // $Count label CONTEXT: $Count MOD: state alert
    // $Count label CONTEXT: $Count MOD: color accent red
    // $Count label CONTEXT: $Count MOD: color accent orange
    // $Count label CONTEXT: $Count MOD: color accent green
    // $Count label CONTEXT: $Count MOD: color accent turquoise
    // $Count label CONTEXT: $Count MOD: color accent navy blue
    // $Count label CONTEXT: $Count MOD: color accent navy blue
    // $Count label CONTEXT: $Count MOD: color accent blue
    // $Count label CONTEXT: $Count MOD: color accent purple
    // $Count label CONTEXT: $Count MOD: color accent pink
    // $Count label CONTEXT: $Count MOD: color accent gray
    #{$block}_state_alert &,
    #{$block}_color_accent-red &,
    #{$block}_color_accent-orange &,
    #{$block}_color_accent-orchid-orange &,
    #{$block}_color_accent-green &,
    #{$block}_color_accent-turquoise &,
    #{$block}_color_accent-navy-blue &,
    #{$block}_color_accent-blue &,
    #{$block}_color_accent-purple &,
    #{$block}_color_accent-lilac &,
    #{$block}_color_accent-pink &,
    #{$block}_color_accent-gray &
      color: #FFF
      text-shadow: 0 0 6px rgba(0,0,0,.2)

    @media screen and(max-width: 960px)
      #{$block}_type_badge &
        line-height: 1.3

    // $Count label MOD: role date
    // $Count label MOD: role time
    // $Count label MOD: role arcade
    // $Count label MOD: role user
    &_role_date,
    &_role_time,
    &_role_arcade,
    &_role_user
      &:before
        content: ""
        display: inline-block
        margin-right: 10px
        font-family: icons
        font-size: 16px
        line-height: 16px
        font-weight: 400
        color: #4c4c4c

    &_role_date
      &:before
        content: '\e900'

    &_role_time
      &:before
        content: '\e961'

    &_role_arcade
      &:before
        content: '\e968'
        font-size: 18px
        line-height: 18px

    &_role_user
      &:before
        content: '\e904'

    &_size_medium
      font-size: 16px

    &_size_large
      font-size: 18px

