@import '../helpers/settings'
@import '../helpers/mixins'

////////////////////////////////////////
// $Check block
////////////////////////////////////////

//////////////////////////////////////// Block variables


//////////////////////////////////////// Block mixins and functions


//////////////////////////////////////// Block styles
$block: ".boss-check"

#{$block}
  +box-model-normalizer()
  position: relative
  z-index: 10
  display: block
  width: 100%
  overflow: hidden

  // $Check block MOD: role board
  &_role_board
    background-color: #FFF
    border-radius: 10px

    &:not(:last-child)
      margin-bottom: 30px

  // $Check block MOD: role panel
  &_role_panel
    background-color: #FFF
    border-radius: 10px
    box-shadow: 0 5px 30px -5px rgba(0,0,0,.3)

    &:not(:last-child)
      margin-bottom: 30px

  // $Check block MOD: page handover & planner event
  // $Check block MOD: page handover & planner reminder
  // $Check block MOD: page handover & planner task
  &_page_handover-planner-event,
  &_page_handover-planner-reminder,
  &_page_handover-planner-task
    padding-left: 20px

  // $Check block MOD: page safe check index
  &_page_safe-checks-index,
  &_page_invites-index,
  &_page_venues-index
    @media screen and (min-width: 1121px)
      display: none

  // $Check block MOD: page checklist review
  // $Check block MOD: page venue health check index
  &_page_checklist-review,
  &_page_vhci,
  &_page_vouchers-index,
  &_page_voucher-usage,
  &_page_smp-holidays,
  &_page_smp-holiday-requests,
  &_page_smp-owed-hours,
  &_page_message-board,
  &_page_users-index,
  &_page_wtl-clients-index,
  &_page_holidays-report-details,
  &_page_wages-index,
  &_page_id-scanner-keys
    @media screen and (min-width: 961px)
      display: none

  // $Check block MOD: state alert
  &_state_alert
    background-color: #feeeee

  // $Check block MOD: state success
  &_state_success
    background-color: #dbfddb

  // $Check block MOD: state inactive
  &_state_inactive
    background-color: #f0f0f0

  &_state_inactive-faded
    opacity: 0.6
    transition: all .3s

    &:hover
      opacity: 1

  // $Check block MOD: state frozen
  &_state_frozen
    background-color: #daecff

  // $Common table cell MOD: state frozen corner
  &_state_frozen
    position: relative

    &:before
      content: ''
      position: absolute
      top: 0
      left: 0
      z-index: 0
      display: block
      width: 50px
      height: 50px
      background-image: -ms-linear-gradient(-45deg, transparent 0%, transparent 50%, #a7d2ff 50%, #a7d2ff 100%)
      background-image: -moz-linear-gradient(-45deg, transparent 0%, transparent 50%, #a7d2ff 50%, #a7d2ff 100%)
      background-image: -o-linear-gradient(-45deg, transparent 0%, transparent 50%, #a7d2ff 50%, #a7d2ff 100%)
      background-image: -webkit-linear-gradient(-45deg, transparent 0%, transparent 50%, #a7d2ff 50%, #a7d2ff 100%)
      background-image: linear-gradient(-45deg, transparent 0%, transparent 50%, #a7d2ff 50%, #a7d2ff 100%)

    &:after
      content: '\e946'
      position: absolute
      top: 5px
      left: 5px
      z-index: 1
      display: block
      font-family: icons
      font-size: 20px
      line-height: 20px
      font-weight: 400
      color: #fff


  // $Panel handle
  &__handle
    position: absolute
    top: 0
    bottom: 0
    z-index: 5
    display: block
    width: 20px
    cursor: move

    &:before
      content: ''
      position: absolute
      top: 10px
      bottom: 10px
      left: 8px
      display: block
      border-left: 2px dotted #eee

    &:after
      content: ''
      position: absolute
      top: 10px
      bottom: 10px
      left: 12px
      display: block
      border-left: 2px dotted #eee

    &_position_left
      left: 0

    &_position_right
      right: 0

    &_role_event
      background-color: map-get($boss-app-palette, secondary)

    &_role_reminder
      background-color: map-get($boss-app-palette, primary)

    &_role_task
      background-color: $boss-light-gray


  // $Check block header
  &__header
    position: relative
    display: flex
    flex-direction: row
    justify-content: space-between
    align-items: center
    width: 100%
    min-height: 80px
    padding: 20px 30px
    border-bottom: 1px solid #eee

    #{$block}_page_marketing-index &,
    #{$block}_page_ops-diary-index &,
    #{$block}_page_ssr-requests &,
    #{$block}_page_profile-disciplinary &,
    #{$block}_page_venue-alert-levels &,
    #{$block}_page_handover-planner-event &,
    #{$block}_page_handover-planner-reminder &,
    #{$block}_page_handover-planner-task &
      min-height: 0
      padding: 15px 15px 10px

    #{$block}_page_contacts &,
    #{$block}_page_contacts-admin &
      min-height: 0
      padding: 10px 15px

    #{$block}_page_sv-missattributed-logins &
      min-height: 0
      padding: 15px

    @media screen and (max-width: 960px)
      min-height: 60px
      padding: 20px

      #{$block}_page_marketing-index &,
      #{$block}_page_ops-diary-index &
        min-height: 0
        padding: 15px 10px 10px

    @media screen and (max-width: 640px)
      #{$block}_page_maintenance-index &,
      #{$block}_page_ops-diary-index &,
      #{$block}_page_ssr-requests &,
      #{$block}_page_profile-disciplinary &,
      #{$block}_page_venue-alert-levels &,
      #{$block}_page_wtl-cards-index &,
      #{$block}_page_handover-planner-reminder &,
      #{$block}_page_handover-planner-task &,
      #{$block}_page_contacts &,
      #{$block}_page_sv-missattributed-logins &
        flex-wrap: wrap

      #{$block}_page_ops-diary-index &
        align-items: flex-start

      #{$block}_page_contacts &
        padding-bottom: 15px

    @media screen and (max-width: 480px)
      #{$block}_page_clocking-app-page-index &,
      #{$block}_page_contacts-admin &
        flex-wrap: wrap

      #{$block}_page_contacts-admin &
        padding-bottom: 15px

    @media screen and (max-width: 400px)
      #{$block}_page_clocking-app-page-api-keys &
        flex-wrap: wrap


  // $Check block header information
  &__header-info
    flex-grow: 1
    flex-shrink: 1
    display: flex
    flex-direction: row
    justify-content: flex-start
    align-items: center

    #{$block}_page_marketing-index &
      width: calc(100% - 50px)

    #{$block}_page_contacts &,
    #{$block}_page_contacts-admin &
      flex-wrap: wrap

    @media screen and (max-width: 640px)
      #{$block}_page_maintenance-index &,
      #{$block}_page_ops-diary-index &,
      #{$block}_page_sv-missattributed-logins &
        width: calc(100% - 50px)

      #{$block}_page_marketing-index &,
      #{$block}_page_handover-planner-event &,
      #{$block}_page_handover-planner-reminder &,
      #{$block}_page_handover-planner-task &
        flex-wrap: wrap

      #{$block}_page_ops-diary-index &
        align-items: flex-start

      #{$block}_page_wtl-cards-index &
        justify-content: center

      #{$block}_page_handover-planner-reminder &
        order: -99
        width: 100%
        margin-bottom: 15px
        padding-bottom: 15px
        border-bottom: 1px solid #eee

      #{$block}_page_contacts &
        width: 100%
        padding-bottom: 10px
        margin-bottom: 15px
        border-bottom: 1px solid #eee

    @media screen and (max-width: 480px)
      #{$block}_page_clocking-app-page-index &
        width: calc(100% - 50px)

      #{$block}_page_contacts-admin &
        width: 100%
        padding-bottom: 10px
        margin-bottom: 15px
        border-bottom: 1px solid #eee

    @media screen and (max-width: 400px)
      #{$block}_page_clocking-app-page-api-keys &
        width: 100%
        justify-content: center

    &:not(:only-child)
      @media screen and (max-width: 640px)
        #{$block}_page_handover-planner-task &
          order: -99
          width: 100%
          margin-bottom: 15px
          padding-bottom: 15px
          border-bottom: 1px solid #eee


  // $Check block header group
  &__header-group
    flex-grow: 1
    flex-shrink: 1
    display: block

    #{$block}_page_contacts-admin &
      width: calc(100% - 230px)

    #{$block}_page_sv-missattributed-logins &
      margin-top: 0

    @media screen and (max-width: 960px)
      #{$block}_page_contacts-admin &
        width: calc(100% - 130px)

    @media screen and (max-width: 640px)
      width: 100%
      margin-top: 10px

      #{$block}_page_ssr-requests &,
      #{$block}_page_profile-disciplinary &,
      #{$block}_page_venue-alert-levels &,
      #{$block}_page_wtl-cards-index &
        margin-top: 0
        margin-bottom: 10px
        padding-bottom: 10px
        text-align: center
        border-bottom: 1px solid #eee

      #{$block}_page_handover-planner-event &,
      #{$block}_page_handover-planner-reminder &,
      #{$block}_page_handover-planner-task &
        width: calc(100% - 60px)
        margin-top: 0

      #{$block}_page_contacts-admin &
        margin-top: 0


  // $Check block header meta
  &__header-meta
    display: block
    margin-top: 10px

    @media screen and (max-width: 480px)
      #{$block}_page_contacts-admin &
        text-align: center

    &:not(:last-child)
      @media screen and (max-width: 640px)
        border-bottom: 1px solid #eee


  // $Check block header meta item
  &__header-meta-item
    display: inline-block
    margin-bottom: 5px

    @media screen and (max-width: 640px)
      display: block
      width: 100%

    &:not(:last-child)
      margin-right: 20px

      @media screen and (max-width: 640px)
        margin-right: 0


  // $Check block header field
  &__header-field
    #{$block}_page_handover-planner-task &
      width: 100%


  // $Check block header checkbox
  &__header-checkbox
    flex-grow: 0
    flex-shrink: 0

    #{$block}_page_handover-planner-event &,
    #{$block}_page_handover-planner-reminder &,
    #{$block}_page_handover-planner-task &
      margin-right: 20px

    @media screen and (max-width: 640px)
      #{$block}_page_handover-planner-event &,
      #{$block}_page_handover-planner-reminder &,
      #{$block}_page_handover-planner-task &
        order: 99
        flex-grow: 1
        flex-shrink: 1
        width: 100%
        margin-right: 0
        margin-bottom: 10px


  // $Check block header status
  &__header-status
    flex-grow: 0
    flex-shrink: 0

    #{$block}_page_maintenance-index &,
    #{$block}_page_ops-diary-index &
      padding-right: 10px
      padding-left: 10px
      text-align: center

    @media screen and (max-width: 640px)
      #{$block}_page_maintenance-index &
        order: 99
        flex-grow: 1
        flex-shrink: 1
        width: 100%
        margin-top: 20px
        padding: 20px 0 0
        border-top: 1px solid #d8d8d8

      #{$block}_page_marketing-index &
        flex-grow: 1
        flex-shrink: 1
        width: 100%

      #{$block}_page_ops-diary-index &
        order: -99
        flex-grow: 1
        flex-shrink: 1
        width: 100%

        &:not(:empty)
          padding: 0 0 15px
          border-bottom: 1px solid #ccc


  // $Check block header tags
  &__header-tags
    display: block

    #{$block}_page_contacts-admin &
      flex-grow: 1
      flex-shrink: 1

    @media screen and (max-width: 960px)
      #{$block}_page_contacts &
        width: 100%
        margin-top: 5px

    @media screen and (max-width: 640px)
      #{$block}_page_contacts-admin &
        width: 100%
        margin-top: 5px

      #{$block}_page_contacts &
        text-align: center

    @media screen and (max-width: 480px)
      #{$block}_page_contacts-admin &
        text-align: center


  // $Check block header tag
  &__header-tag
    display: inline-block
    margin-top: 5px
    margin-bottom: 5px

    &:not(:last-child)
      margin-right: 10px


  // $Check block header links
  &__header-links
    flex-grow: 0
    flex-shrink: 0

    #{$block}_page_contacts &
      display: flex
      flex-direction: column
      justify-content: flex-start
      align-items: flex-end
      padding-left: 20px

    @media screen and (max-width: 640px)
      #{$block}_page_contacts &
        flex-grow: 1
        flex-shrink: 1
        align-items: center
        width: 100%
        padding-left: 0


  // $Check block header link
  &__header-link
    display: inline-block

    #{$block}_page_contacts &
      text-align: right

    @media screen and (max-width: 640px)
      #{$block}_page_contacts &
        max-width: 100%
        text-align: center

    &:not(:last-child)
      #{$block}_page_contacts &
        margin-bottom: 10px


  // $Check block header actions
  &__header-actions
    flex-grow: 0
    flex-shrink: 0

    #{$block}_page_ssr-requests &,
    #{$block}_page_profile-disciplinary &,
    #{$block}_page_venue-alert-levels &,
    #{$block}_page_wtl-cards-index &,
    #{$block}_page_handover-planner-event &,
    #{$block}_page_handover-planner-reminder &,
    #{$block}_page_handover-planner-task &,
    #{$block}_page_contacts &,
    #{$block}_page_contacts-admin &
      display: flex
      flex-direction: row
      justify-content: flex-start
      align-items: center

    #{$block}_page_handover-planner-event &,
    #{$block}_page_handover-planner-reminder &,
    #{$block}_page_handover-planner-task &,
    #{$block}_page_contacts-admin &
      padding-left: 20px

    #{$block}_page_clocking-app-page-index &,
    #{$block}_page_sv-missattributed-logins &
      padding-left: 10px
      padding-right: 10px

    #{$block}_page_sv-missattributed-logins &
      text-align: center

    @media screen and (max-width: 960px)
      #{$block}_page_ssr-requests &,
      #{$block}_page_profile-disciplinary &,
      #{$block}_page_venue-alert-levels &,
      #{$block}_page_contacts-admin &
        flex-direction: column
        align-items: stretch

    @media screen and (max-width: 640px)
      #{$block}_page_ssr-requests &,
      #{$block}_page_profile-disciplinary &,
      #{$block}_page_venue-alert-levels &,
      #{$block}_page_wtl-cards-index &
        flex-grow: 1
        flex-shrink: 1
        flex-direction: row
        justify-content: center
        align-items: center
        width: 100%

      #{$block}_page_sv-missattributed-logins &
        order: -99
        flex-grow: 1
        flex-shrink: 1
        width: 100%

        &:not(:empty)
          margin-bottom: 15px
          padding: 0 0 15px
          border-bottom: 1px solid #ccc

      #{$block}_page_handover-planner-event &,
      #{$block}_page_handover-planner-reminder &,
      #{$block}_page_handover-planner-task &
        flex-direction: column
        align-items: flex-start
        justify-content: center

    @media screen and (max-width: 480px)
      #{$block}_page_clocking-app-page-index &
        order: 99
        flex-grow: 1
        flex-shrink: 1
        width: 100%
        margin-top: 10px
        padding-left: 0
        padding-right: 0
        padding-top: 15px
        text-align: center
        border-top: 1px solid #eee

      #{$block}_page_contacts-admin &
        flex-grow: 1
        flex-shrink: 1
        flex-direction: row
        align-items: center
        width: 100%
        margin-top: 10px
        padding-top: 15px
        padding-left: 0
        border-top: 1px solid #eee

    @media screen and (max-width: 400px)
      #{$block}_page_clocking-app-page-api-keys &
        order: 99
        flex-grow: 1
        flex-shrink: 1
        width: 100%
        margin-top: 10px
        text-align: center


  // $Check block header action
  &__header-action
    @media screen and (max-width: 480px)
      #{$block}_page_contacts-admin &
        flex-grow: 1
        flex-shrink: 1

    &:not(:first-child)
      #{$block}_page_ssr-requests &,
      #{$block}_page_profile-disciplinary &,
      #{$block}_page_venue-alert-levels &,
      #{$block}_page_wtl-cards-index &,
      #{$block}_page_contacts &,
      #{$block}_page_contacts-admin &
        margin-left: 15px

      @media screen and (max-width: 960px)
        #{$block}_page_ssr-requests &,
        #{$block}_page_profile-disciplinary &,
        #{$block}_page_venue-alert-levels &,
        #{$block}_page_contacts-admin &
          margin-left: 0
          margin-top: 10px

      @media screen and (max-width: 640px)
        #{$block}_page_ssr-requests &,
        #{$block}_page_profile-disciplinary &,
        #{$block}_page_venue-alert-levels &
          margin-left: 15px
          margin-top: 0

      @media screen and (max-width: 480px)
        #{$block}_page_contacts-admin &
          margin-left: 15px
          margin-top: 0


  // $Check block group
  &__group

    &:not(:last-child)
      border-bottom: 1px solid #eee

    // $Check block row MOD: marked
    &_marked
      background-color: #fbfbfb

      #{$block}_state_alert &,
      #{$block}_state_success &,
      #{$block}_state_frozen &
        background-color: transparent


  // $Check block group content
  &__group-content
    display: block
    width: 100%
    padding: 15px

    @media screen and (max-width: 960px)
      padding: 15px 10px


  // $Check block row
  &__row
    display: flex
    flex-direction: row
    justify-content: center
    align-items: stretch
    border-bottom: 1px solid #eee

    &_role_actions

    &_role_buttons
      padding: 15px 10px

    // $Check block row MOD: role table
    &_role_table
      &:nth-child(even)
        background-color: #FFF

        #{$block}_state_alert &,
        #{$block}_state_success &,
        #{$block}_state_frozen &
          background-color: transparent

      &:nth-child(odd)
        background-color: #fbfbfb

        #{$block}_state_alert &,
        #{$block}_state_success &,
        #{$block}_state_frozen &
          background-color: transparent

    // $Check block row MOD: marked
    &_marked
      background-color: #fbfbfb

      #{$block}_state_alert &,
      #{$block}_state_success &,
      #{$block}_state_frozen &
        background-color: transparent


  // $Check block cell
  &__cell
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
    width: 100%
    padding: 15px
    text-align: center

    @media screen and (max-width: 960px)
      padding: 15px 10px

    &:not(:last-child)
      border-right: 1px solid #eee

    &_size_half
      width: 50%

      &:first-child
        @media screen and (max-width: 480px)
          #{$block}_page_clocking-app-page-index &
            padding-right: 5px

      &:last-child
        @media screen and (max-width: 480px)
          #{$block}_page_clocking-app-page-index &
            padding-left: 5px

    &_size_third
      width: 33%

    &_size_fourth
      width: 25%

    &_size_half#{&}_delimiter_light,
    &_size_third#{&}_delimiter_light,
    &_size_fourth#{&}_delimiter_light
      position: relative

      &:not(:last-child)
        border-right: none

        &:after
          content: ""
          position: absolute
          top: 50%
          right: 0
          display: block
          width: 0
          height: 30px
          margin-top: -15px
          border-right: 1px solid #ddd

    // $Check block cell MOD: role table
    &_role_table
      min-height: 50px

      &:nth-child(1)
        padding-left: 20px
        align-items: flex-end
        text-align: right

        @media screen and (max-width: 960px)
          padding-left: 15px

      &:nth-child(2)
        padding-left: 25px
        align-items: flex-start
        text-align: left

        @media screen and (max-width: 960px)
          padding-left: 15px

    // $Check block cell MOD: state alert
    // $Check block cell MOD: state fail
    // $Check block cell MOD: status rejected
    &_state_alert,
    &_status_fail
      background-color: #ff8587

    // $Check block cell MOD: state success
    // $Check block cell MOD: status pass
    &_state_success,
    &_status_pass
      background-color: #67db72

    // $Check block cell MOD: no border
    &_no-border:not(:last-child)
      border: none


  &__cell-content
    flex-grow: 0
    flex-shrink: 1
    display: block
    width: auto
    max-width: 100%
    text-align: left


  &__cell-group
    display: block
    width: auto

    &:not(:last-child)
      margin-bottom: 10px


  // $Check block box
  &__box
    display: block
    width: 100%
    min-height: 70px
    padding: 10px
    border: 2px solid $boss-very-light-gray
    border-radius: 6px
    text-align: center

    #{$block}_page_marketing-index &,
    #{$block}_page_ops-diary-index &,
    #{$block}_page_venue-alert-levels &,
    #{$block}_page_handover-planner-event &,
    #{$block}_page_handover-planner-reminder &,
    #{$block}_page_handover-planner-task &,
    #{$block}_page_sv-missattributed-logins &
      text-align: left

    &:not(:last-child)
      margin-bottom: 15px

    // $Check block box MOD: role clickable action
    &_role_action
      cursor: pointer


  &__user-summary
    width: auto


  &__title,
  &__text
    +text-normalizer()
    max-width: 100%
    text-align: inherit

    &_role_date,
    &_role_date-calendar,
    &_role_time,
    &_role_user,
    &_role_venue,
    &_role_voucher,
    &_role_note,
    &_role_location,
    &_role_payment,
    &_role_arcade,
    &_role_message,
    &_role_accessory,
    &_role_alert-action,
    &_role_date-alert,
    &_role_details,
    &_role_edit,
    &_role_email,
    &_role_phone

      &:before
        content: ""
        display: inline-block
        font-family: icons
        font-size: inherit
        line-height: inherit
        color: inherit
        font-weight: 400
        vertical-align: baseline

    &_role_date
      &:before
        content: '\e900'

    &_role_date-alert
      color: map-get($boss-app-palette, alert)
      &:before
        content: '\e900'

    &_role_time
      &:before
        content: '\e961'

    &_role_date-calendar
      &:before
        content: '\e900'

    &_role_user
      &:before
        content: '\e904'

    &_role_venue
      &:before
        content: '\e901'

    &_role_voucher
      &:before
        content: '\e94e'

    &_role_location
      &:before
        content: '\e958'

    &_role_note
      &:before
        content: '\e91f'

    &_role_payment
      &:before
        content: '\e939'

    &_role_arcade
      &:before
        content: '\e968'

    &_role_message
      &:before
        content: '\e927'

    &_role_accessory
      &:before
        content: '\e93a'

    &_role_details
      &:before
        content: '\e921'

    &_role_edit
      &:before
        content: '\e96b'

    &_role_email
      &:before
        content: '\e91f'

    &_role_phone
      &:before
        content: '\e952'

    &_role_alert-action
      cursor: pointer
      color: map-get($boss-app-palette, alert)
      text-decoration: underline

      &:before
        content: '\e911'

      &:hover
        color: map-get($boss-app-palette, alert)
        text-decoration: none

    &_indicator_att,
    &_indicator_notes,
    &_indicator_images,
    &_indicator_notes-images
      position: relative
      padding-right: 25px

      &:after
        content: ""
        position: absolute
        display: inline-block
        margin-left: 10px
        font-family: icons
        font-size: 14px
        line-height: inherit
        color: inherit
        font-weight: 400
        vertical-align: baseline

    &_indicator_att,
    &_indicator_notes
      &:after
        content: '\e91f'

    &_indicator_images
      &:after
        content: '\e935'

    &_indicator_notes-images
      padding-right: 50px

      &:after
        width: 50px
        content: '\e91f\00a0\00a0\e935'

    &_adjust_wrap
      overflow-wrap: break-word
      word-wrap: break-word
      word-break: break-word
      hyphens: auto

    &_adjust_crossed-out
      text-decoration: line-through


  // $Check block title
  &__title
    font-size: 18px
    font-weight: 600

    #{$block}_page_contacts &,
    #{$block}_page_contacts-admin &
      flex-grow: 0
      flex-shrink: 0
      margin-right: 20px

    #{$block}_page_marketing-index &,
    #{$block}_page_ops-diary-index &
      font-size: 16px

    #{$block}_page_clocking-app-page-index &,
    #{$block}_page_clocking-app-page-api-keys &,
    #{$block}_page_contacts &,
    #{$block}_page_contacts-admin &
      font-size: 20px

    #{$block}_page_security-venues &
      font-size: 24px

    #{$block}_page_wtl-cards-index &
      text-align: center

    @media screen and (max-width: 960px)
      #{$block}_page_contacts &
        flex-grow: 1
        flex-shrink: 1
        width: 100%
        margin-right: 0

    @media screen and (max-width: 640px)
      #{$block}_page_contacts &
        text-align: center

      #{$block}_page_contacts-admin &
        flex-grow: 1
        flex-shrink: 1
        width: 100%
        margin-right: 0

    @media screen and (max-width: 480px)
      #{$block}_page_contacts-admin &
        text-align: center

    @media screen and (max-width: 400px)
      #{$block}_page_clocking-app-page-api-keys &
        text-align: center

    &_role_date,
    &_role_date-calendar,
    &_role_time,
    &_role_user,
    &_role_venue,
    &_role_voucher,
    &_role_note,
    &_role_location,
    &_role_payment,
    &_role_arcade,
    &_role_message,
    &_role_accessory,
    &_role_alert-action,
    &_role_date-alert,
    &_role_details,
    &_role_edit,
    &_role_email,
    &_role_phone

      &:before
        font-size: 18px
        margin-right: 10px

        #{$block}_page_security-venues &
          font-size: 22px

    &_role_alert
      color: map-get($boss-app-palette, alert)

    // $Check block title MOD: role clickable action
    &_role_action
      cursor: pointer

    // $Check block title status
  &__title-status,
  &__title-type
    font-weight: 400
    color: #808080

  &__title-alert
    color: map-get($boss-app-palette, alert)


  &__title-light
    font-weight: 300


  &__title-tooltip
    display: inline-block
    vertical-align: middle


  // $Check block text
  &__text

    &_role_date,
    &_role_date-calendar,
    &_role_time,
    &_role_user,
    &_role_venue,
    &_role_voucher,
    &_role_note,
    &_role_location,
    &_role_payment,
    &_role_arcade,
    &_role_message,
    &_role_accessory,
    &_role_alert-action,
    &_role_date-alert,
    &_role_details,
    &_role_edit,
    &_role_email,
    &_role_phone

      &:before
        font-size: 14px
        margin-right: 7px

    &_role_date
      #{$block}_page_safe-checks-index &,
      #{$block}_page_checklist-review &,
      #{$block}_page_vouchers-index &
        font-size: 16px
        font-weight: 600
        letter-spacing: -1px
        text-align: left

      &:before
        #{$block}_page_safe-checks-index &,
        #{$block}_page_checklist-review &,
        #{$block}_page_vhci &
          content: '\e961'

    &_role_voucher
      &:before
        font-size: 18px

    &_role_location
      &:before
        font-size: 16px

    // $Check block text MOD: marked
    &_marked
      font-size: 16px
      font-weight: 600

    // $Check block text MOD: role main
    &_role_main
      font-size: 16px
      line-height: 1.2
      font-weight: 600
      color: #4c4c4c

    // $Check block text MOD: role primary
    &_role_primary
      font-size: 14px
      font-weight: 600
      color: #4c4c4c

    // $Check block text MOD: role secondary
    &_role_secondary
      font-size: 12px
      color: #808080

    // $Check block text MOD: state alert
    // $Check block text MOD: state success
    &_state_alert,
    &_state_success
      color: #FFF

    // $Check block text MOD: status fail
    // $Check block text MOD: status pass
    &_status_fail,
    &_status_pass
      font-size: 18px
      text-transform: uppercase
      color: #FFF
      text-align: center

    // $Check block text MOD: role clickable action
    &_role_action
      cursor: pointer

    // $Check block text MOD: role clickable edit-action
    &_role_edit-action
      cursor: pointer

    &_role_link
      cursor: pointer
      color: #1585cf

      &:hover
        color: $boss-medium-gray


  // $Check block text line
  &__text-line
    display: block


  // $Check block text label
  // $Check block text light
  &__text-label,
  &__text-light
    font-weight: 300


  // $Check block text marked
  &__text-marked
    font-weight: 600


  // $Check block text action
  &__text-action
    cursor: pointer


  &__text-tooltip
    display: inline-block
    margin-left: 3px
    vertical-align: middle


  &__status
    +text-normalizer()
    font-size: 18px
    text-transform: uppercase
    text-align: center

    &_role_success
      color: map-get($boss-app-palette, secondary)

    &_role_alert
      color: map-get($boss-app-palette, alert)

    &_role_pending
      color: #808080


  &__counter
    +text-normalizer()
    display: inline-block
    font-size: 24px
    font-weight: 600

    &_state_success
      color: map-get($boss-app-palette, secondary)

    &_state_alert
      color: map-get($boss-app-palette, alert)


  // $Check block link
  &__link
    +text-normalizer()
    color: inherit
    text-decoration: none

    #{$block}_page_venues-index &,
    #{$block}_page_wtl-clients-index &,
    #{$block}_page_wtl-clients-profile &
      color: #1585cf

    &:hover,
    &:focus
      color: inherit
      text-decoration: none

      #{$block}_page_venues-index &,
      #{$block}_page_wtl-clients-index &,
      #{$block}_page_wtl-clients-profile &
        color: $boss-medium-gray


  // $Check block label
  &__label
    display: inline-block
    margin-top: 5px
    padding: 4px 12px

    &:not(:last-child)
      margin-right: 5px

    @media screen and (max-width: 400px)
      padding: 4px 12px


  // $Check indicator
  &__indicator
    +text-normalizer()
    flex-grow: 0
    flex-shrink: 0
    display: inline-block
    width: 35px
    height: 35px
    font-size: 22px
    line-height: 35px
    font-weight: 600
    color: #FFF
    text-align: center
    border-radius: 50%
    background-color: map-get($boss-app-palette, primary)

    @media screen and (max-width: 640px)
      #{$block}_page_ops-diary-index &
        margin-top: 15px

    @media screen and (max-width: 400px)
      width: 30px
      height: 30px
      font-size: 18px
      line-height: 30px

    // $Check indicator MOD: position before
    &_position_before
      margin-right: 20px

      @media screen and (max-width: 400px)
        margin-right: 10px

    // $Check indicator MOD: position bafter
    &_position_after
      margin-left: 20px

      @media screen and (max-width: 400px)
        margin-left: 10px

    // $Check indicator MOD: priority high
    &_priority_high
      background-color: map-get($boss-app-palette, alert)

    // $Check indicator MOD: priority medium
    &_priority_medium
      background-color: map-get($boss-app-palette, warning)

    // $Check indicator MOD: priority low
    &_priority_low
      background-color: map-get($boss-app-palette, secondary)

    // $Check indicator MOD: status completed
    &_status_completed
      background-color: map-get($boss-app-palette, secondary)

    // $Check indicator MOD: status pending
    &_status_pending
      background-color: map-get($boss-app-palette, pending)

    // $Check indicator MOD: status deleted
    &_status_deleted
      background-color: map-get($boss-app-palette, alert)


  // $Check marker
  &__marker
    +text-normalizer()
    flex-grow: 0
    flex-shrink: 0
    display: inline-block
    white-space: nowrap

    @media screen and (max-width: 400px)
      font-size: 18px
      line-height: 30px

    &:before
      content: ""
      display: inline-block
      font-family: icons
      font-size: 18px
      line-height: 35px
      font-weight: 400
      color: #fff
      text-align: center
      width: 35px
      height: 35px
      border-radius: 50%
      background-color: map-get($boss-app-palette, primary)
      vertical-align: middle

      @media screen and (max-width: 400px)
        width: 30px
        height: 30px
        line-height: 30px

    // $Check marker MOD: position before
    &_position_before
      margin-right: 20px

      @media screen and (max-width: 400px)
        margin-right: 10px

    // $Check marker MOD: position after
    &_position_after
      margin-left: 20px

      @media screen and (max-width: 400px)
        margin-left: 10px

    // $Check marker MOD: status completed
    &_status_completed
      color: map-get($boss-app-palette, secondary)

      &:before
        content: '\e969'
        background-color: map-get($boss-app-palette, secondary)

    // $Check marker MOD: status pending
    &_status_pending
      color: map-get($boss-app-palette, pending)

      &:before
        content: '\e922'
        background-color: map-get($boss-app-palette, pending)

    // $Check marker MOD: status deleted
    &_status_deleted
      color: map-get($boss-app-palette, alert)

      &:before
        content: '\e94d'
        font-size: 16px
        background-color: map-get($boss-app-palette, alert)

    // $Check marker MOD: role edit action
    &_role_edit-action
      cursor: pointer
      transition: opacity .4s

      &:hover
        opacity: 0.8


  // $Check marker MOD: marker label
  &__marker-label
    display: inline-block
    margin-left: 5px
    font-size: 18px
    line-height: 1
    font-weight: 600
    vertical-align: middle

    #{$block}_page_marketing-index &
      display: none

    @media screen and (max-width: 640px)
      #{$block}_page_marketing-index &
        display: inline-block

    @media screen and (max-width: 400px)
      line-height: 30px


  // $Check block dropdown
  &__dropdown

    #{$block}_page_maintenance-index &,
    #{$block}_page_marketing-index &,
    #{$block}_page_clocking-app-page-index &
      background-color: #fbfbfb

    #{$block}_state_alert &,
    #{$block}_state_success &
      background-color: transparent

    // $Check block dropdown CONTEXT: $Check block MOD: page message board
    #{$block}_page_message-board &
      padding: 15px 10px
      background-color: #fbfbfb
      border-bottom: 1px solid #eee

    #{$block}_state_alert#{$block}_page_message-board &,
    #{$block}_state_success#{$block}_page_message-board &
      background-color: transparent

    // $Check block dropdown MOD: state closed
    &_state_closed
      display: none


  // $Check block dropdown link
  &__dropdown-link,
  &__tooltip-link,
  &__action-link
    +text-normalizer()
    color: $boss-dark-gray
    vertical-align: middle
    outline: none
    text-decoration: none
    white-space: nowrap
    cursor: pointer

    &:hover
      color: $boss-dark-gray

    &:focus
      color: $boss-dark-gray

    &:after
      content: ""
      display: inline-block
      font-family: icons
      font-size: 14px
      line-height: 1
      font-weight: 400
      color: #4c4c4c
      text-align: center
      margin-left: 10px
      vertical-align: middle

    &_type_icon
      font-size: 0
      line-height: 0
      color: transparent
      transition: .4s
      opacity: 1

      &:after
        width: 30px
        height: 30px
        font-size: 20px
        line-height: 30px
        color: #4c4c4c
        text-align: center
        margin-left: 0
        vertical-align: middle

      &:hover
        opacity: .8

    // $Check block dropdown link MOD: state inactive
    &_state_inactive
      cursor: default
      &:after
        display: none


  &__tooltip-link
    margin-left: 10px

    @media screen and (max-width: 640px)
      #{$block}_page_ops-diary-index &
        margin-top: 20px

    &_role_settings
      &:after
        content: '\e913'


  &__action-link
    #{$block}_page_handover-planner-event &,
    #{$block}_page_handover-planner-reminder &,
    #{$block}_page_handover-planner-task &
      margin-right: 10px

    @media screen and (max-width: 640px)
      #{$block}_page_handover-planner-event &,
      #{$block}_page_handover-planner-reminder &,
      #{$block}_page_handover-planner-task &
        margin-right: 0
        margin-bottom: 15px

    &_role_edit
      &:after
        content: '\e96b'
        font-size: 18px
        color: map-get($boss-app-palette, warning)

    &_role_remove
      &:after
        content: '\e93b'
        font-size: 24px
        color: map-get($boss-app-palette, alert)

    &_role_confirm
      &:after
        content: '\e914'
        font-size: 24px
        color: map-get($boss-app-palette, secondary)


  &__dropdown-link
    margin-left: 10px

    #{$block}_page_handover-planner-event &,
    #{$block}_page_handover-planner-reminder &,
    #{$block}_page_handover-planner-task &
      margin-left: 0

    &:after
      content: '\e91a'
      font-size: 18px

    &_type_icon
      opacity: .8

      &:after
        font-size: 30px

      &:hover
        opacity: 1

    // $Check block dropdown link MOD: state closed
    &_state_closed
      &:after
        content: '\e919'


  // $Check block table
  &__table
    display: block
    width: 100%
    padding: 10px 0


  // $Check block info
  &__info
    display: block
    width: 100%
    min-height: 70px
    padding: 10px

    // $Check block info MOD: role clickable action
    &_role_action
      cursor: pointer


  &__info-content
    text-align: left


  // $Check block info text
  &__info-text
    +text-normalizer()

    // $Check block info text role main
    &_role_main
      font-size: 18px
      font-weight: 600

      #{$block}_page_message-board &
        font-size: 16px

    // $Check block info text marked
    &_marked
      font-weight: 600


  // $Check block info table
  &__info-table
    display: block
    width: 100%
    padding: 10px 0


  // $Check block info row
  &__info-row
    display: flex
    flex-direction: row
    justify-content: center
    align-items: stretch

    @media screen and (max-width: 640px)
      #{$block}_page_users-index &
        flex-direction: column
        align-items: center

    @media screen and (max-width: 480px)
      #{$block}_page_invites-index &
        justify-content: flex-start

    &:not(:last-child)
      @media screen and (max-width: 640px)
        #{$block}_page_users-index &
          border-bottom: 1px solid #eee


  // $Check block info cell
  &__info-cell
    flex-grow: 1
    flex-shrink: 1
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
    width: 50%
    padding: 10px 15px

    @media screen and (max-width: 640px)
      #{$block}_page_users-index &
        width: 100%

    &:first-child
      align-items: flex-end
      text-align: right

      @media screen and (max-width: 640px)
        #{$block}_page_users-index &
          align-items: center
          text-align: center
          padding-bottom: 0

      @media screen and (max-width: 480px)
        #{$block}_page_invites-index &
          flex-grow: 0
          flex-shrink: 0
          width: 100px

    &:last-child
      align-items: flex-start
      text-align: left

      @media screen and (max-width: 640px)
        #{$block}_page_users-index &
          align-items: center
          text-align: center

      @media screen and (max-width: 480px)
        #{$block}_page_invites-index &
          width: calc(100% - 100px)


  // $Check block action
  &__action
    flex-grow: 1
    flex-basis: 50%
    padding: 15px
    border-radius: 0
    text-align: center

    @media screen and (max-width: 400px)
      padding: 15px

  // $Check block buttons
  &__buttons
    #{$block}_page_clocking-app-page-index &
      display: flex
      flex-direction: row
      justify-content: center
      align-items: center
      margin-top: 15px

    @media screen and (max-width: 480px)
      #{$block}_page_clocking-app-page-index &
        flex-direction: column
        align-items: stretch


  // $Check block button
  &__button
    &:not(:last-of-type)
      margin-right: 20px

      @media screen and (max-width: 480px)
        #{$block}_page_clocking-app-page-index &
          margin-right: 0
          margin-bottom: 15px

    &_position_below
      margin-top: 10px

    &_position_above
      margin-bottom: 10px

    &_position_first
      margin-top: 0
      margin-bottom: 10px
      margin-right: 10px

    &_position_last
      margin-top: 10px
      margin-bottom: 0
      margin-left: 10px


  // $Check block button inline
  &__button-inline
    margin-top: 5px
    margin-bottom: 5px

    &_position_first
      margin-top: 0
      margin-bottom: 10px
      margin-right: 10px

    &_position_last
      margin-top: 10px
      margin-bottom: 0
      margin-left: 10px


  // $Check block meta
  &__meta
    display: block

    @media screen and (max-width: 640px)
      display: block
      width: 100%


  // $Check block header meta item
  &__meta-item
    display: inline-block
    margin-bottom: 5px

    @media screen and (max-width: 640px)
      display: block
      width: 100%

    &:not(:last-child)
      margin-right: 20px

      @media screen and (max-width: 640px)
        margin-right: 0


  // $Check checkbox label
  &__checkbox-label
    +text-normalizer()
    display: inline-block
    max-width: 100%
    cursor: pointer

  // $Check checkbox input
  &__checkbox-input
    display: none


  // $Check checkbox label text
  &__checkbox-label-text
    position: relative
    display: inline-block
    min-height: 30px
    padding-top: 5px
    padding-left: 40px

    &:before
      content: ""
      box-sizing: border-box
      position: absolute
      top: 0
      left: 0
      display: block
      width: 30px
      height: 30px
      background-color: #FFF
      border: 1px solid map-get($boss-app-palette, inactive)
      border-radius: 3px

      #{$block}__checkbox-input:checked ~ &
        background-color: map-get($boss-app-palette, primary)
        border-color: map-get($boss-app-palette, primary)

    &:after
      content: '\e914'
      box-sizing: border-box
      position: absolute
      top: 0
      left: 0
      display: block
      width: 30px
      height: 30px
      font-family: icons
      font-size: 20px
      line-height: 30px
      font-weight: 400
      color: #fff
      text-align: center
      visibility: hidden

      #{$block}__checkbox-input:checked ~ &
        visibility: visible

    &:empty
      padding-left: 30px

    // $Common form checkbox input label text MOD: visible label text on s screens
    &_visible-s
      padding-left: 40px

      @media screen and (min-width: 641px)
        width: 30px
        height: 30px
        padding-left: 30px
        overflow: hidden
        color: transparent
        white-space: nowrap

    &_type_checked

      &:before
        background-color: map-get($boss-app-palette, primary)
        border-color: map-get($boss-app-palette, primary)

      &:after
        visibility: visible

    &_type_checked-inactive
      cursor: default

      &:before
        background-color: #f0f0f0
        border-color: #d8d8d8

      &:after
        color: #808080
        visibility: visible

    &_layout_reverse
      padding-left: 0
      padding-right: 40px

      &:before
        left: auto
        right: 0

      &:after
        left: auto
        right: 5px

      &:empty
        padding-left: 0
        padding-right: 30px
