@import '../helpers/settings'
@import '../helpers/mixins'

////////////////////////////////////////
// $Add avatar
////////////////////////////////////////

//////////////////////////////////////// Block variables


//////////////////////////////////////// Block mixins and functions


//////////////////////////////////////// Block styles
$block: ".boss-add-avatar"

#{$block}
  @include normalize-block()
  display: flex
  flex-direction: column
  justify-content: flex-start
  align-items: center
  width: 100%

  // $Add avatar preview
  &__preview
    position: relative
    display: block
    width: 240px
    height: 240px
    background-image: url('../icons/avatar-placeholder.svg')
    background-position: center center
    background-repeat: no-repeat
    background-size: contain
    border-radius: 50%

    &:not(:last-child)
      margin-bottom: 20px

    @media screen and (max-width: 480px)
      width: 200px
      height: 200px

    &_role_load
      background-image: url('../icons/load-image-placeholder.svg')
      cursor: pointer

    &_state_alert
      position: relative

      &:before
        content: '\e96a'
        position: absolute
        top: 0
        right: 0
        bottom: 0
        left: 0
        z-index: 10
        display: block
        font-family: icons
        font-size: 120px
        line-height: 240px
        font-weight: 400
        text-align: center
        vertical-align: middle
        color: map-get($boss-app-palette, alert)
        background-color: rgba(255, 255, 255, .6)

        @media screen and (max-width: 480px)
          font-size: 100px
          line-height: 200px

    &_state_inactive
      background-image: url('../icons/load-image-placeholder-disabled.svg')
      cursor: not-allowed


  // $Add avatar preview action
  &__preview-action
    position: absolute
    z-index: 10
    display: block
    width: 40px
    height: 40px
    background-color: map-get($boss-app-palette, primary)
    border: 2px solid #fff
    border-radius: 50%
    font-size: 0
    color: transparent
    opacity: 1
    transition: all .4s

    &:before
      content: ''
      display: block
      font-family: icons
      font-size: 18px
      line-height: 36px
      text-align: center
      vertical-align: middle
      color: #fff

    &:hover
      opacity: 0.8

    // $Add avatar preview action MOD: role clear
    &_role_clear
      top: 15px
      right: 15px

      &:before
        content: '\e96a'

      @media screen and (max-width: 480px)
        top: 10px
        right: 10px


  // $Add avatar preview image
  &__preview-image
    display: block
    width: 100%
    height: 100%
    border-radius: 50%
    overflow: hidden

    & img
      display: block
      width: 100%
      max-width: 100%


  // $Add avatar note
  &__note
    +text-normalizer()
    max-width: 100%
    text-align: center


  &__message
    display: block
    width: 100%

    &:not(:last-child)
      margin-bottom: 20px


  &__actions
    display: flex
    flex-direction: column
    justify-content: flex-start
    align-items: center
    width: 100%

    &:not(:last-child)
      margin-bottom: 20px


  &__action
    &:not(:last-child)
      margin-bottom: 15px
