@import '../helpers/settings'
@import '../helpers/mixins'

////////////////////////////////////////
// $Progress bar
////////////////////////////////////////

//////////////////////////////////////// Block variables
@keyframes stripes-move
  0%
    background-position: 0 0

  100%
    background-position: 40px 40px


//////////////////////////////////////// Block mixins and functions


//////////////////////////////////////// Block styles
$block: ".boss-progress-bar"

#{$block}
  display: block
  max-width: 100%

  // $Progress bar MOD: adjust wrap
  &_adjust_wrap


  // $Progress bar content
  &__content
    display: flex
    flex-direction: row
    justify-content: flex-start
    align-items: center
    width: 100%

    @media screen and (max-width: 960px)
      #{$block}_adjust_wrap &
        flex-wrap: wrap
        justify-content: center


  // $Progress bar status
  &__status
    position: relative
    flex-grow: 1
    flex-shrink: 1
    display: block
    font-size: 18px
    line-height: 1
    font-weight: 600
    color: #808080
    width: 100%
    padding: 0 10px

    @media screen and (max-width: 960px)
      #{$block}_adjust_wrap &
        margin-top: 15px
        padding: 0
        text-align: center

    // $Progress bar status MOD: color accent purple
    &_color_accent-purple
      color: map-get($boss-accent-palette, purple)

    // $Progress bar status MOD: color accent blue
    &_color_accent-blue
      color: map-get($boss-app-palette, primary)

    // $Progress bar status MOD: color accent green
    &_color_accent-green
      color: map-get($boss-app-palette, secondary)

    // $Progress bar status MOD: color accent orange
    &_color_accent-orange
      color: map-get($boss-app-palette, warning)

    // $Progress bar status MOD: color accent red
    &_color_accent-red
      color: map-get($boss-app-palette, alert)


  // $Progress bar meter
  &__meter
    position: relative
    flex-grow: 1
    flex-shrink: 1
    display: block
    width: 100%
    padding: 5px
    border-radius: 5px
    background-color: $boss-extra-light-gray

    @media screen and (max-width: 960px)
      #{$block}_adjust_wrap &
        margin-top: 30px


  // $Progress bar value
  &__value
    +text-normalizer()
    display: block
    width: 0
    height: 20px
    padding: 0 5px
    line-height: 20px
    color: #fff
    background-color: $boss-medium-gray
    border-radius: 5px
    transition: width .4s

    // $Progress bar value MOD: position front
    &_position_front
      position: absolute
      top: 50%
      left: 10px
      z-index: 2
      margin-top: -10px
      text-align: right

    // $Progress bar value MOD: position back
    &_position_back
      height: 30px
      line-height: 30px
      text-align: right

    // $Progress bar value MOD: color accent blue
    &_color_accent-blue
      background-color: map-get($boss-app-palette, primary)

    // $Progress bar value MOD: color accent green
    &_color_accent-green
      background-color: map-get($boss-app-palette, secondary)

    // $Progress bar value MOD: color accent orange
    &_color_accent-orange
      background-color: map-get($boss-app-palette, warning)

    // $Progress bar value MOD: color accent red
    &_color_accent-red
      background-color: map-get($boss-app-palette, alert)

    &_type_striped
      position: relative
      overflow: hidden

      &:after
        content: ""
        position: absolute
        top: 0
        left: 0
        bottom: 0
        right: 0
        z-index: 1
        background-image: -ms-linear-gradient(-45deg, rgba(255, 255, 255, .2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .2) 50%, rgba(255, 255, 255, .2) 75%, transparent 75%, transparent)
        background-image: -moz-linear-gradient(-45deg, rgba(255, 255, 255, .2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .2) 50%, rgba(255, 255, 255, .2) 75%, transparent 75%, transparent)
        background-image: -o-linear-gradient(-45deg, rgba(255, 255, 255, .2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .2) 50%, rgba(255, 255, 255, .2) 75%, transparent 75%, transparent)
        background-image: -webkit-linear-gradient(-45deg, rgba(255, 255, 255, .2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .2) 50%, rgba(255, 255, 255, .2) 75%, transparent 75%, transparent)
        background-image: linear-gradient(-45deg, rgba(255, 255, 255, .2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .2) 50%, rgba(255, 255, 255, .2) 75%, transparent 75%, transparent)
        background-size: 40px 40px

    &_type_striped#{&}_type_animated
      &:after
        animation: stripes-move 2s linear infinite


  // $Progress bar marker
  &__marker
    position: absolute
    top: 0
    bottom: 0
    z-index: 3
    display: block

    // $Progress bar marker MOD: color accent carmine
    &_color_accent-carmine


  // $Progress bar marker line
  &__marker-line
    display: block
    width: 2px
    height: 100%
    background-color: #4c4c4c

    #{$block}__marker_color_accent-carmine &
      background-color: #fd554f


  // $Progress bar marker text
  &__marker-text
    +text-normalizer()
    position: absolute
    bottom: 100%
    display: block
    font-weight: 600
    color: #4c4c4c
    text-align: center
    transform: translateX(-50%)

    #{$block}__marker_color_accent-carmine &
      color: #fd554f


  // $Progress bar info
  &__info
    flex-grow: 0
    flex-shrink: 0

    @media screen and (max-width: 960px)
      #{$block}_adjust_wrap &
        order: -99
        flex-grow: 1
        flex-shrink: 1
        width: 100%
        max-width: 100%
        padding-right: 0
        padding-left: 0
        text-align: left

    // $Progress bar info MOD: position before
    &_position_before
      padding-right: 10px
      text-align: left

    // $Progress bar info MOD: position after
    &_position_after
      padding-left: 10px
      text-align: right


  // $Progress bar label
  &__label
    +text-normalizer()
    flex-grow: 0
    flex-shrink: 0
    max-width: 100%
    font-size: 14px
    line-height: 1.2

    @media screen and (max-width: 960px)
      max-width: 80px
      font-size: 12px

      #{$block}_adjust_wrap &
        max-width: 100%
        padding-left: 0
        padding-right: 0
        font-size: 14px
        text-align: center

    // $Progress bar label MOD: position before
    &_position_before
      padding-right: 10px
      text-align: left

    // $Progress bar label MOD: position after
    &_position_after
      padding-left: 10px
      text-align: right

    // $Progress bar label MOD: type bold
    &_type_bold
      font-weight: 600

    // $Progress bar label MOD: type light
    &_type_light
      font-weight: 300

    // $Progress bar label MOD: type compact
    &_type_compact
      width: 120px
      min-width: 120px
      font-size: 12px

      @media screen and (max-width: 960px)
        #{$block}_adjust_wrap &
          width: 100%
          min-width: 0

      @media screen and (max-width: 400px)
        min-width: 0

    // $Progress bar label MOD: color accent purple
    &_color_accent-purple
      color: map-get($boss-accent-palette, purple)

    // $Progress bar label MOD: color accent blue
    &_color_accent-blue
      color: map-get($boss-app-palette, primary)

    // $Progress bar label MOD: color accent green
    &_color_accent-green
      color: map-get($boss-app-palette, secondary)

    // $Progress bar label MOD: color accent orange
    &_color_accent-orange
      color: map-get($boss-app-palette, warning)

    // $Progress bar label MOD: color accent red
    &_color_accent-red
      color: map-get($boss-app-palette, alert)

    // $Progress bar label MOD: indicator frozen
    &_indicator_frozen

      &:after
        content: ""
        display: inline-block
        margin-left: 5px
        font-family: icons
        font-size: 14px
        line-height: 1
        font-weight: 400
        color: inherit

    &_indicator_frozen
      &:after
        content: '\e946'


  // $Progress bar meta
  &__meta
    +text-normalizer()
    display: block
    font-size: 12px
    line-height: 1
    color: $boss-light-gray

    @media screen and (max-width: 960px)
      #{$block}_adjust_wrap &
        text-align: center

    &:first-child
      margin-bottom: 5px

    &:last-child
      margin-top: 5px
